:root {
    --bodyBackgroundColor : hsl(0,0%,90%);
    --headerBackgroundColor : hsl(300,50%,75%);
    --headerTitleColor : hsl(0,0%,20%);
    --formBackgroundColor : hsl(0,0%,95%);
}
@font-face {
    font-family: days;
    src:url(font/28_Days_Later.ttf);
}
body {
    background-color: var(--bodyBackgroundColor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#general_background {
    position:absolute;
    top:42.4vw;
    width:99vw;
    height:100%;
    z-index:0;
    background-size: cover;
}
.oil {
    background-image:url(img/oil.jpg);
}
.see {
    background-image:url(img/see.jpg);
}
.bees {
    background-image: url(img/bees.jpg);
}
.permaculture {
    background-image: url(img/permaculture.jpg);
}
.mars {
    background-image: url(img/mars.jpg);
}
.mankind {
    background-image: url(img/mankind.jpg);
}
.late {
    background-color:black;
}
main {
    width:99vw;
    display:grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 35vw 1fr 25vw;
    grid-template-areas: 
    "header header header"
    "left center right"
    "footer footer footer"
}
#header {
    grid-area: header;
    background-size: cover;
}
#title {
    font-family: days;
    font-weight: normal;
    font-size:6vw;
    margin-top:0;
    color:var(--headerTitleColor);
    text-align: center;
}
h2 {
    margin-left:2vw;
    font-size: 2vw;
}
form {
    grid-area: center;
    margin-top:-15vw;
    margin-bottom:-7vw;
    border-radius:7px;
    z-index:2;
    background-color: var(--formBackgroundColor);
    opacity:0.95;
}
fieldset {
    margin:1vw 4vw;
    border-radius:5px;
}
fieldset > * {
    margin-top:1vw;
    font-size: 1.2vw;
}
#message {
    width:100%;
}
.personal {
    width : 85%;
    font-size: 1.2vw;
}
button {
    padding:1vw;
    margin:2vw 4vw;
    font-size:1.5vw;
}
.big_shadow {
    box-shadow : 0 20px 20px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.19);
}
.shadow {
   box-shadow : 0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.19);
}
.rhino {
   background-image:url(img/rhino.jpg); 
   background-position: 0% 60%;
}
.tiger {
   background-image: url(img/tiger.jpg);
   background-position: 0% 40%;
}
.elephant {
   background-image: url(img/elephant.jpg);
   background-position: 0% 65%;
}
.gorilla {
    background-image: url(img/gorilla.jpg);
    background-position: 0 75%;
}
.bear {
    background-image: url(img/polar.jpg);
    background-position: 0 75%;
}
.lion {
    background-image: url(img/lion.jpg);
    background-position: 0 25%;
}
label {
    display:block;
}
footer {
    background-color: var(--footerBackgroundColor);
    grid-area: footer;
    display:grid;
    grid-template-columns: 1fr repeat(3,10vw);
    align-items:end;
    justify-items:center;
    padding-bottom:5vw;
    padding-right:2vw;
}
#tribute_link {
  font-size: 2vw;
}
.logo {
    width:8vw;
    height:auto;
}
